body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    margin: 200px; 
    background-color: white;
}

.card {
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    position: relative;
    font-family: 'Georgia';
}

.corner {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-left {
    top: 25px; 
    left: 7px; 
}

.bottom-right {
    bottom: 20px;
    right: 10px;
    transform: rotate(180deg);
}

.letter {
    font-size: 30px;
    line-height: 24px;
}

.espada-pequena {
    font-size: 40px;
}

.espada-centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px; 
}
